{{>postHeader}}

<div class="nav-wrapper">
        <div class="dots-wrapper"> 
            <div id="dot-1" class="browser-dots"></div>
            <div id="dot-2" class="browser-dots"></div>
            <div id="dot-3" class="browser-dots"></div>
        </div>
        <ul id="navigation"> 
            <li><a href="/">Home</a></li>
        </ul>
    
    </div>

    <div class="main-container">
		<br>

		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80">
		</div>
		
		<h3>Daily Journal</h3>

		<p>The Daily Journal application is a Node JS blog-style application that lets users write and publish blog posts. Users can register for an account or log 
		in using conventional ways or Google authentication. Posts can be added by users and removed by users. Users will be able to update their posts in later 
		iterations and view the posts that other users have written.
		<br>
		<br>
		This app continued the previous app, which only contained the front end. I was learning about databases and server-side rendering at the time and wanted to 
		combine the front end and the back end. The application's back end includes Node.js, MongoDB, and Express. Authentication is handled by a library package 
		known as a Passport. Almost everything about this app is rendered on the server. I don't have a specific reason for doing it this way; I just did what I 
		knew at the time. To get data from the back end to the front end, I used an EJS template. This was the first application I created that included both the 
		front end and the back end. This project assisted me in understanding how those components can be linked together to form a fully functional application.
		You can find the GitHub repo here: <a class="project-github" target="_blank" href="https://github.com/AlexAntoine/Daily-Journal">Daily-Journal.</a> 
        </p>

		<h5>Technologies:</h5>
		<ul>
			<li>- Node js</li>
			<li>- MongoDB</li>
			<li>- Express </li>
			<li>- EJS</li>
			<li>- Heroku</li>
			<li>- Mongo Atlas</li>
            <li> <a class="web-link" href="https://antoine-daily-diary.herokuapp.com/" target="_blank">- Daily Journal Website</a></li>
		</ul>


		<h5>Login Page</h5>
		<div class="img-container">
			<a href="/images/blog-app/login.png"><img src="/images/blog-app/login.png"></a>
		</div>

		<h5>User Home Page</h5>
		<div class="img-container">
			<a href="/images/blog-app/user_home.png"><img src="/images/blog-app/user_home.png"></a>
		</div>

		<h5>Blog Posts</h5>
		<div class="img-container">
			<a href="/images/blog-app/post.png"><img src="/images/blog-app/post.png"></a>
		</div>

		<h5>Home Page</h5>
		<div class="img-container">
			<a href="/images/blog-app/user_home.png"><img src="/images/blog-app/user_home.png"></a>
		</div>

		<h5>Compose Page</h5>
		<div class="img-container">
			<a href="/images/blog-app/compose.png"><img src="/images/blog-app/compose.png"></a>
		</div>

	</div>

{{>postFooter}}